@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* ---------- Loopin design tokens ---------- */
  --color-gray-white: var(--gray-white);
  --color-gray-black: var(--gray-black);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-main: var(--primary-main);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-sub-purple: var(--sub-purple);
  --color-sub-purple-base: var(--sub-purple-base);
  --color-sub-mint: var(--sub-mint);
  --color-brand-kakao: var(--brand-kakao);
  --color-brand-naver: var(--brand-naver);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --gray-black: #121212;
  --gray-white: #ffffff;
  --gray-100: #f8f8f9;
  --gray-200: #f0f2f3;
  --gray-300: #dde0e3;
  --gray-400: #c6ccd1;
  --gray-500: #a0a9b1;
  --gray-600: #737980;
  --gray-700: #4d5155;
  --gray-800: #3a3d40;
  --primary-100: #fff3f1;
  --primary-200: #ffe4e0;
  --primary-300: #ffc2ba;
  --primary-400: #ff9a8d;
  --primary-500: #ff7765;
  --primary-main: #ff543f;
  --primary-700: #cc4432;
  --primary-800: #9a3227;
  --primary-900: #792a1e;
  --sub-purple: #9747ff;
  --sub-purple-base: #efe2ff;
  --sub-mint: #e7ffba;
  --brand-kakao: #fedc2c;
  --brand-naver: #03c75a;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer components {
  /* ---------- title ---------- */
  .text-title-1-eb {
    @apply text-[24px] font-extrabold leading-[33.6px] tracking-[-0.48px];
  }
  .text-title-1-b {
    @apply text-[24px] font-bold leading-[33.6px] tracking-[-0.48px];
  }

  .text-title-2-eb {
    @apply text-[20px] font-extrabold leading-[28px] tracking-[-0.4px];
  }
  .text-title-2-b {
    @apply text-[20px] font-bold leading-[28px] tracking-[-0.4px];
  }

  /* ---------- body ---------- */
  .text-body-1-eb {
    @apply text-base font-extrabold leading-[24px] tracking-[-0.32px];
  }
  .text-body-1-sb {
    @apply text-base font-semibold leading-[24px] tracking-[-0.32px];
  }
  .text-body-1-b {
    @apply text-base font-bold leading-[24px] tracking-[-0.32px];
  }
  .text-body-1-m {
    @apply text-base font-medium leading-[24px] tracking-[-0.32px];
  }

  .text-body-2-eb {
    @apply text-sm font-extrabold leading-[21px] tracking-[-0.28px];
  }
  .text-body-2-sb {
    @apply text-sm font-semibold leading-[21px] tracking-[-0.28px];
  }
  .text-body-2-b {
    @apply text-sm font-bold leading-[21px] tracking-[-0.28px];
  }
  .text-body-2-m {
    @apply text-sm font-medium leading-[21px] tracking-[-0.28px];
  }

  /* ---------- caption ---------- */
  .text-caption-m {
    @apply text-xs font-medium leading-[16.8px] tracking-[-0.24px];
  }
  .text-caption-r {
    @apply text-xs font-normal leading-[16.8px] tracking-[-0.24px];
  }
  .text-caption-10-m {
    @apply text-[10px] font-medium leading-[14px] tracking-[-0.2px];
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "SUIT", sans-serif;
  }
}
